/*公共样式*/
.fl {
    float: left;
}

.fr {
    float: right;
}

/*版心*/
.w {
    width: 1100px;
    margin: 0 auto;
}

/*顶部快捷导航栏start*/
.angle {
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.shortcut {
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px;
    line-height: 30px;
}

.shortcut li {
    float: left;
}

.loginAndSign {
    color: #ff0000;
    margin-right: 7px;
    margin-left: 6px;
}

.loginAndSign:hover {
    color: #0000ff;
}

.shortcut-li li {
    margin-left: 15px;
}

.space-line {
    color: #666666;
}

.hasLiIcon:hover {
    color: #e33333;
}

/*顶部快捷导航栏end*/
/*header制作start*/
.header {
    position: relative;
    margin-top: 10px;
    box-shadow: #6b66664d 0 1px;
    height: 120px;
}

.logo {
    position: absolute;
    left: 10px;
    top: 10px;

}

.logo img {
    height: 100px;
}

.searchLabel {
    position: absolute;
    left: 400px;
    top: 50px;
}

.searchLabel input {
    border: 2px solid #c5464a;
    border-radius: 5px;
    top: 0;
    right: 0;
    width: 300px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

.searchLabel button {
    background: #c5464a;
    border-radius: 5px 5px 5px 5px;
    width: 60px;
    height: 34px;
    top: 0;
    right: 0;
    outline: none;
    box-shadow: #666 0px 0px 1px;
}

.searchLabel button:before {
    content: "搜索";
    font-size: 18px;
    color: #F9F0DA;
    font-family: "宋体", "Heiti SC", tahoma, arial, "Hiragino Sans GB", "\\5B8B体", sans-serif;
}

.toShopCar {
    position: absolute;
    right: 30px;
    top: 35px;
    height: 50px;
    width: 120px;
    border: 1px solid #adb1b1;
    background-color: #e2e1e1;
    color: #473f3f;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.toShopCar:hover {
    color: #fff;
    background-color: #c5464a;
}

/*header制作end*/
/*nav制作start*/
.nav {
    font-size: 20px;
    font-weight: 800;
    color: #000;
    margin-bottom: 100px;
    min-height: 1500px;
}

.navList {
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px;
    line-height: 50px;
    position: relative;
    text-align: center;
    /*overflow: hidden;*/
}

.navList >li {
    float: left;
    padding: 0 1%;
    width: 18%;
    left: 50%;
}


.tag-hover {
    background-color: #c5464a;
    color: #fff;
}

/*nav制作end*/
/*center start*/
.goodsList>a {
    display: block;
    float: left;
    width: 19%;
    height: 320px;
    margin: 5px .5%;
    box-shadow: #666 0px 0px 1px;
}

.goodsList > a:hover{
    box-shadow: #c5464a 0px 0px 10px;
}
.goodsList > a span{
    font-size: 18px;
    font-weight: 500;
    margin: 0px 12px;
    color: #9b9b9b;
}
.goodsList-nav img {
    height: 180px;
    width: 180px;
    margin: 10px 0px;
    background-color: #473f3f;
    vertical-align: middle;
}
.goodsList .price{
    color: #d81e06;
    font-size: 24px; 
    vertical-align: text-bottom;
}
.goodsList .storeName{
    margin-left: 10px;
    margin-top: 3px;
    font-size: 12px;
    color: #9b9b9b;
}

/*center end*/
/*footer*/
.footer{
    font-size: 20px;
    font-weight: 800;
    color: #000;
    height: 100px;
    margin-top: -1px;
}
.footer-column-t{
    display: flex;
    color: rgba(0, 0, 0, 0.75);
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    justify-content: center;
    list-style-position: outside;
    tab-size: 4;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.footer-column-t li{
    margin: 0px 4px;
}
.footer-column-b{
    display: flex;
    color: rgba(0, 0, 0, 0.75);
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
}
.footer-column-b li{
    margin: 0px 4px;
}
/*footer*/