.storeHeader{
    height: 200px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px;
    margin-bottom: 10px;
}
.storeHeader img{
    height: 160px;
    width: 160px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 80px;
}
.storeHeader .spanTitle{
    position: relative;
    top: -10px;
    font-size: 40px;
    font-weight: 500;
    color: #c5464a;
    margin-left: 20px;
}
.storeHeader .spanDes{
    position: absolute;
    top: 110px;
    left: 205px;
    font-weight: 400;
    color: #666;
}