<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>疆味 - 搬运最地道的新疆味道！</title>
    <meta name="description"
        content="疆味有限责任公司致力利用现代科技与传统农业种植相结合,通过采用原产地—线上订购—线下体验店—消费者的方式,打造上联生产、中联平台、下联市场的新零售模式，让消费者可以在线上平台提供的商品里面挑选最合适的商品。" />
    <meta name="keywords" content="疆味,新疆味道,水果,干果,葡萄,哈密瓜">
    <!-- 引入图标 -->
    <link rel="shortcut icon" href="jiangwei.ico">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./element/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/cart.css">
    <link rel="stylesheet" href="./fonts/fbs/css/all.min.css">
    <script src="./fonts/fbs/js/all.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./element/element-ui/lib/index.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/public/top.js"></script>
    <script src="./js/public/header.js"></script>
    <script src="./js/public/footer.js"></script>
    <script src="./js/util/static.js"></script>
</head>

<body>
    <div id="app">
        <!-- 顶部快捷导航栏start -->
        <jiangwei-top :user="user"></jiangwei-top>
        <!-- 顶部快捷导航栏end -->
        <!-- header制作start -->
        <jiangwei-header @func="search" :searchtext="searchWord"></jiangwei-header>
        <!-- header制作end -->
        <!-- nav制作start -->
        <div class="nav w">
            <!-- 地址选择部分开始 -->
            <div id="addressTitle">
                <span>地址选择</span>
            </div>
            <div>
                <el-row :gutter="24">
                    <el-col :span="6">
                        <div :class="getAddressClass(selctAddressClassIndex,0)" v-for="(item,i) in addressList" :key="i"
                            @click="selctAddressClassIndex = i">
                            <span class="mainAddInfo">{{item.consigneeName}}&nbsp;{{item.consigneePhone}}</span>
                            <div class="addDetail">
                                {{item.consigneeAddress}}
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <!-- 地址选择部分结束 -->
            <div id="waitPayTitle">
                <span>代支付商品</span>
            </div>
            <el-table ref="multipleTable" :data="goods" tooltip-effect="dark" style="width: 100%"
                @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="50">
                </el-table-column>
                <el-table-column label="商品图片" width="150">
                    <template slot-scope="scope">
                        <img :src="scope.row.sku.skuImages" alt="" style="width: 100px;height: 100px;">
                    </template>
                </el-table-column>
                <el-table-column prop="spu.spuTitle" label="商品名称" width="180">
                </el-table-column>
                <el-table-column label="商品规格" width="150">
                    <template slot-scope="scope">
                        <span style="font-size: 12px;" v-html="filterSkuOwnSpec(scope.row.sku.skuOwnSpec)"></span>
                    </template>
                </el-table-column>
                <el-table-column label="单价" width="150">
                    <template slot-scope="scope">
                        <span>{{scope.row.sku.skuPrice | skuPriceFilter}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="数量" width="120">
                    <template slot-scope="scope">
                        <span>{{scope.row.count}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="小计" width="150">
                    <template slot-scope="scope">
                        <span
                            v-text="$options.filters.skuPriceFilter(sum(scope.row.sku.skuPrice,scope.row.count))"></span>
                    </template>
                </el-table-column>
                <el-table-column label="状态" width="150">
                    <template slot-scope="scope">
                        <span style="color: #ff0000;">待支付</span>
                    </template>
                </el-table-column>
            </el-table>
            <!--结算窗口开始-->
            <div class="balance">
                <ul class="balance_ul2">
                    <li>已经选择<span>{{cartNum}}</span>件商品</li>
                    <li>总价<span>￥{{cartSelctPrice | skuPriceFilter}}</span></li>
                    <li class="butt" v-popover:popover>去支付</li>
                    <el-popover ref="popover" placement="top" width="160" v-model="visible">
                        <p>测试支付</p>
                        <div style="text-align: right; margin: 0">
                            <el-button size="mini" type="text" @click="visible = false">取消</el-button>
                            <el-button type="primary" size="mini" @click="buy()">确定</el-button>
                        </div>
                    </el-popover>
                </ul>
            </div>
            <!--结算窗口结束-->
            <div id="payedTitle">
                <span>已支付商品</span>
            </div>
            <el-table ref="multipleTable" :data="orders" tooltip-effect="dark" style="width: 100%"
                @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="50">
                </el-table-column>
                <el-table-column label="商品图片" width="150">
                    <template slot-scope="scope">
                        <img :src="scope.row.sku.skuImages" alt="" style="width: 100px;height: 100px;">
                    </template>
                </el-table-column>
                <el-table-column prop="spu.spuTitle" label="商品名称" width="120">
                </el-table-column>
                <el-table-column label="商品规格" width="120">
                    <template slot-scope="scope">
                        <span style="font-size: 12px;" v-html="filterSkuOwnSpec(scope.row.sku.skuOwnSpec)"></span>
                    </template>
                </el-table-column>
                <el-table-column label="单价" width="120">
                    <template slot-scope="scope">
                        <span>{{scope.row.sku.skuPrice | skuPriceFilter}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="数量" width="120">
                    <template slot-scope="scope">
                        <span>{{scope.row.buyNum}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="小计" width="120">
                    <template slot-scope="scope">
                        <span
                            v-text="$options.filters.skuPriceFilter(sum(scope.row.sku.skuPrice,scope.row.buyNum))"></span>
                    </template>
                </el-table-column>
                <el-table-column label="状态" width="150">
                    <template slot-scope="scope">
                        <span style="color: #ff0000;">{{scope.row.status | statusFilter}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="120">
                    <template slot-scope="scope">
                        <div>
                            <el-button mini v-if="scope.row.status == 1" @click="orderStatus(scope.row.orderId,4)">退货</el-button>
                            <el-button mini v-if="scope.row.status == 2" @click="orderStatus(scope.row.orderId,3)">确认收货</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <!-- nav制作end -->

        <!-- foot start-->
        <jiangwei-footer></jiangwei-footer>
        <!-- foot end-->
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            // 引入全局变量
            goods: [
            ],
            orders:[],
            addressList: [],
            searchWord: '',
            user: {},
            cartSelect: [],
            cartNum: 0,
            cartSelctPrice: 0,
            selctAddressClassIndex: 0,
            visible:false
        },
        created() {
            var user = JSON.parse(sessionStorage.getItem("user"));
            if (null != user) {
                this.user = user;
            } else {
                window.location = 'login.html';
            }
            this.getCart(user.userId);
            this.getAddress(user.userId);
            this.getPayed(user.userId);
        },
        methods: {
            getCart(id) {
                $http.post("jw-cart/list", { userId: id, status: 1 }).then((response) => {
                    this.goods = response.data.result;
                })
            },
            getPayed(id){
                $http.post("jw-order/list", { userId: id}).then((response) => {
                    this.orders = response.data.result;
                })
            },
            getAddress(id) {
                $http.post("jw-address/list", { userId: id }).then((response) => {
                    this.addressList = response.data.result;
                })
            },
            search(data) {
                window.location = 'showList.html?search=' + encodeURI(data);
            },
            spuDetail(spuId) {
                window.location = 'item.html?id=' + encodeURI(spuId);
            },
            filterSkuOwnSpec(val) {
                var spec = JSON.parse(val);
                return "口味：" + spec.n10 + "<br>净含量：" + spec.n11 + "克<br>品质等级：" + spec.n12;
            },
            sum(price, count) {
                return price * count;
            },
            handleSelectionChange(val) {
                this.cartSelect = val;
                this.cartNum = this.cartSelect.length;

                this.cartSelect.forEach(cart => {
                    this.cartSelctPrice += cart.count * cart.sku.skuPrice;
                });
            },
            allSelect() {
                for (let i = 0; i < this.goods.length; i++) {
                    this.$refs.multipleTable.toggleRowSelection(i);
                }
            },
            deleteCart(cart) {
                if (cart == null) {
                    let cart1 = {};
                    cart1.userId = this.user.userId;
                    $http.post("jw-cart/delete", { cart: cart1 }).then((response) => {
                        this.getCart(this.user.userId);
                    })
                } else {
                    $http.post("jw-cart/delete", { cart: cart }).then((response) => {
                        this.getCart(this.user.userId);
                    })
                }
            },
            getAddressClass(index, i) {
                if (index == i) {
                    return "grid-content select";
                }
                else {
                    return "grid-content";
                }
            },
            buy() {
                let data = {};
                data.cartSelect = this.cartSelect;
                data.address = this.addressList[this.selctAddressClassIndex];
                data.userId = this.user.userId;
                $http.post("jw-order/add", data).then((response) => {
                    this.visible = false;
                    this.getCart(this.user.userId);
                    this.getPayed(this.user.userId);
                })
            },
            orderStatus(orderId,status){

                $http.post("jw-order/status", {orderId:orderId,status:status}).then((response) => {
                    this.getPayed(this.user.userId);
                })
            }
        },
        filters: {
            skuPriceFilter(val) {
                if (val == 0) {
                    return 0;
                }
                let priceStr = val.toString();
                return priceStr.slice(0, priceStr.length - 2) + "." + priceStr.slice(priceStr.length - 2) + "元";
            },
            statusFilter(val){
                if (0 == val) {
                    return "未支付";
                }
                if (1 == val) {
                    return "已支付，待发货";
                }
                if (2 == val) {
                    return "已发货";
                }
                if (3 == val) {
                    return "已收货";
                }
                if (4 == val) {
                    return "退货待处理";
                }
                if (5 == val) {
                    return "已退货";
                }
            }
        }
    })
</script>

</html>